* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #E8E8E8;
    
}

header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100vh;
    background-image: url("images/bg-img.png");
    background-size: cover;
    padding: 1px; 
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1060px;
    font-size: 64px;
    padding: 20px 40px;
    border-radius: 20px;
    background: #E8E8E8;
    color: #003832;
    margin-top: 436px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

h1 span {
    color: #ffffff;  
}

h1:hover {
    display: none;
}

h2 {
    margin-top: 80px;
    margin-bottom: 90px;
    text-align: center;
    font-size: 48px;
    color: #003832;
}

h2 span {
    border-bottom: 4px solid #5D562B;
    padding-bottom: 10px;
}

.flex-container {
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
}

.box {
    width: 649px;
    height: 480px;
    background: #ffffff;
    padding: 15px 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s ease;
}

.box:hover {
    border-left: 3px solid #5D562B;
    border-top: 3px solid #5D562B;
    cursor: pointer;
}

h3 {
    color: #5D562B;
    font-size: 48px;
    margin-bottom: 32px;
}

p {
   font-size: 35px; 
   color: #003832;
   line-height: 130.69%;
   
}

hr {
    margin-top: 90px;
    border-top: 2px solid #5D562B;
}

footer {
    width: auto;
    height: 50px;
    background: #5D562B;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    margin-top: 70px;
    padding-top: 50px;
}

a, a:active, a:visited {
    color: #E8E8E8;
}

a:hover {
    font-size: 22px;
}

